#menu_list{
    display:flex; 
    justify-content:space-around;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    background-color: #232f3e;
    list-style-type: none;
    text-decoration: none;
    height:40px;
}

#three_lines{
    position: relative;
    left: -5px;
    top: 5px;
    width: 15px;
    height: 20px;
}

#menu_list a{
    padding: 8px;
}

#menu_list a:hover{
    border: 2px;
    border-radius: 2px;
    border-color: white;
    border-style: solid;
}

#menu_list a:visited, a:active, a:link{
    text-decoration: none;
    color: white;
    
}

#menu_list li{
   display: inline;
}