.outdoor{
    background-image: url(/img/716rTwzAdJL._SX3000_.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
}

#outdoor_button_left{
    position: absolute;
    left: 0px;
    top: 100px;
    padding-top: 110px;
    padding-bottom: 105px;
    padding-left: 15px;
    padding-right: 15px;
    
}

.outdoor a:active{
    border-radius: 3px;
    border-color: #232f3e;
    border-width: 2px;
    border-style: solid;
}

#outdoor_button_right{
    position: absolute;
    right: 0px;
    top: 100px;
    padding-top: 110px;
    padding-bottom: 105px;
    padding-left: 15px;
    padding-right: 15px;
}

#outdoor-left-arrow{
    height: 35px;
}

#outdoor-right-arrow{
    height: 35px;
}